{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>List of Chores</h2>

    <section id="chores">

        {% for creature in creatures %}

            <div class="chores">
                <h3>{{ chore.name }}</h3>
                <p>Person: <strong>{{ chore.person }}</strong></p>
            </div>

        {% else %}

            <p>No Chores!</p>

        {% endfor %}

    </section>

{% endblock %}

