{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>List of Chores</h2>

    <section id="chores">

        {% for chore in chores %}

            <div class="chores">
                
                <p><strong>{{ chore.priority }} . {{ chore.name }}</strong></p>
                    
                    {% if chore.complete %} 
                        <a href="/chore/{{ chore.id }}/incomplete">🗹</a> 
                    {% else %} 
                        <a href="/chore/{{ chore.id }}/complete">☐</a> 
                    {% endif %}

                    {% if chore %} 
                        <a href="/chore/{{ chore.id }}/delete">Delete</a> 
                    {% endif%}
                   
            </div>

        {% else %}

            <p>No Chores!</p>

        {% endfor %}
        

    </section>

    
<h2>New chore</h2>

    <form method="post" action="/chore/new">
        <label>

            Name
            <input type="text" name="name" required>

        </label>

        <label>
       
            priority 
            <input type="text" name="priority" required>

        </label>

        {# <label>
       
            Image
            <input type="img" name="image" required>

        </label> #}

        <button>Add chore</button>
   
    </form>


</ul>


{% endblock %}

